.client-a {
  min-width: 1000px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;  
  grid-row-gap: 15px;
}

.client-b {
  border: 1px solid blue;
  height: 100px;
}